body {
  background: #ffffff;
  color: #f1f5f9;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.converter {
  background: #2d1e3b;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  width: 320px;
  text-align: center;
}

h2 {
  color: #8b38f8;
}

.input-group {
  margin: 15px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

select, input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background: #433355;
  color: #f1f5f9;
  font-size: 14px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: #ab38f8;
  border: none;
  border-radius: 8px;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #990ee9;
}

.result {
  margin-top: 20px;
  background: #4a3355;
  padding: 10px;
  border-radius: 8px;
  font-weight: 200px;
}
