body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, #4e54c8, #8f94fb);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

/* Input Section */
.input-section {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  width: 320px;
  margin-bottom: 30px;
}

.input-section input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  width: 100%;
  background: #4e54c8;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #6c72e4;
}

/* ID Card */
.id-card {
  display: none;
  background: white;
  width: 340px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.3);
  padding-bottom: 15px;
  border: 2px solid black;
}

/* Header (Logo + College Name) */
.card-header {
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
}

.college-logo {
  width: 70px;
  display: block;
  margin: 0 auto 5px;
}

.college-name {
  font-size: 18px;
  color: #e67e22;
  font-weight: 700;
  line-height: 1.2;
}

.college-name span {
  color: #333;
  font-size: 15px;
  font-weight: 600;
}

.college-sub {
  font-size: 10px;
  color: #555;
}

/* Body (Profile + Details) */
.card-body {
  margin-top: 10px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  border: 2px solid #4e54c8;
  background: #d7e4ff;
}

.id-details {
  margin-top: 15px;
}

.id-details h2 {
  margin: 5px 0;
  color: #000;
  font-family: 'Comic Sans MS', cursive;
}

.id-details p {
  margin: 3px 0;
  color: #000;
  font-family: 'Comic Sans MS', cursive;
  font-size: 14px;
}
